@import "../../variables.scss";

$fade-duration: .1s;
$slot-border-radius: 5px;

:host {
    display: block;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px transparent;
    transition: border-color $fade-duration ease-in-out, background-color $fade-duration ease-in-out;

    &:hover, &:focus {
        border-color: #f1f1f1;
        background-color: rgba(255,255,255,0.8);
        &:not(.selected) {
            cursor: pointer;
        }
    }
    &.selected {
        border-color: #ccc;
        .header {
            background-color: #f1f1f1;
        }
        .slot-list {
            background-color: white;
        }
        .footer {
            opacity: 1;
            pointer-events: all;
            background-color: $blue;
        }
    }
    &:hover, &:focus, &.selected {
        .header {
            padding-left: 9px;
            padding-right: 9px;
        }
        .slot-list {
            padding-left: 9px;
            padding-right: 9px;
        }
    }
    
    .header, .footer, .slot-list {
        transition: padding $fade-duration ease-in-out, background-color $fade-duration ease-in-out, opacity $fade-duration ease-in-out;
    }

    .header {
        padding-top: 14px;
        padding-bottom: 4px;
        h3 {
            font-size: 1.05em;
            letter-spacing: -0.02em;
        }
        .name {
            text-transform: uppercase;
        }
        .credits {
            font-size: 0.8em;
            color: #737373;
        }
    }

    .slot-list {
        padding: 9px 0;
        padding-bottom: 15px;
        
        .slot {
            margin-bottom: 5px;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            outline: none;
            cursor: pointer;
            border-radius: $slot-border-radius;
            overflow: hidden;
            border-top-left-radius: $slot-border-radius;
            border-bottom-left-radius: $slot-border-radius;
            display: flex;
            align-items: stretch;
            position: relative;

            .alert-bubble {
                position: absolute;
                top: 7px;
                right: 9px;
                background-color: $red;
                border: solid 1px $darker-red;
                border-radius: 50%;
                width: 17px;
                height: 17px;

                &:before {
                    font-size: 11px;
                    position: absolute;
                    color: white;
                    content: "!";
                    font-weight: 400;
                    left: 50%;
                    top: 50%;
                    margin-top: -7px;
                    margin-left: -2px;
                }
            }
            
            .margin {
                box-sizing: content-box;
                position: relative;
                width: 6px;
                background-color: $green;
                border: solid 1px rgba(0,0,0,0.02);
                border-top-left-radius: $slot-border-radius;
                border-bottom-left-radius: $slot-border-radius;
                transition: ease-in-out .1s background-color, ease-in-out .1s padding;
            }
            .content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                background-color: white;
                min-height: 48px;
                padding: 6px 12px;
                padding-right: 8px;
                border: solid 1px #ccc;
                border-left: none;
                border-top-right-radius: $slot-border-radius;
                border-bottom-right-radius: $slot-border-radius;
                font-size: 0.85rem;
                .name, .details {
                    width: 100%;
                }
                .details {
                    font-size: 0.65rem;
                    color: #aeaeae;
                    line-height: 1.3em;
                    letter-spacing: 0.03em;
                    .course-code {
                        color: #484848;
                    }
                }
                
                transition: ease-in-out .1s background-color;
            }
            &.recommendation {
                .margin {
                    background-color: $blue;
                    width: 45px;
                    &:before {
                        font: normal normal normal 20px/1 'FontAwesome';
                        content: "\f067";
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        font-weight: 700;
                        margin-top: -9px;
                        color: white;
                    }
                }
                .content {
                    padding-left: 10px;
                    .name {
                        color: $dark-blue;
                    }
                    .details {
                        color: #484848;
                    }
                }
            }
            &.available {
                .margin {
                    display: none;
                }
                .content {
                    border: dashed 1px #e1e1e1;
                    color: #aeaeae;
                    padding-left: 16px;
                    border-top-left-radius: $slot-border-radius;
                    border-bottom-left-radius: $slot-border-radius;
                }
            }
            &:focus {
                box-shadow: 0 0 1.5px 0.5px #8dafe3;
                background-color: #8dafe3;
            }
            &:hover, &:active {
                .margin {
                    background-color: $dark-green;
                    padding-left: 10px;
                    &:before {
                        color: #eaeaea;
                    }
                }
                .content {
                    background-color: #eaeaea;
                }
                &.available {
                    .content {
                        border-color: #ccc;
                        color: #797979;
                    }
                }
                &.recommendation {
                    .margin {
                        background-color: $dark-blue;
                    }
                }
            }
            &:active {
                .margin {
                    padding-left: 15px;
                    &:before {
                        color: #e1e1e1;
                    }
                }
                .content {
                    background-color: #e1e1e1;
                }
            }
        }
    }

    .footer {
        opacity: 0;
        padding: 19px 0;
        pointer-events: none;
        background-color: transparent;

        button {
            -webkit-appearance: none;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            background-color: $dark-blue;
            border: solid 1px $blue;
            box-shadow: 0 0 0 1px $dark-blue;
            color: white;
            border-radius: 4px;
            padding: 9px 16px;
            font-size: 0.95em;
            transition: ease-in-out .1s background-color, ease-in-out .1s box-shadow;

            &:hover, &:focus {
                background-color: #00496b;
                box-shadow: 0 0 0 1px #00496b;
                color: white;
            }
            &:active {
                background-color: #002638;
                box-shadow: 0 0 0 2px #002638;
                color: #e1e1e1;
            }
        }
    }
}
