<div class="year-planner">
  <div class="header">
    <h3>
      <span class="name">
        {{year.name}}
      </span>
      <span *ngIf="year.upcoming">
        (next year)
      </span>
    </h3>
    <div class="credits if-selected">
        {{year.creditsPlanned}} credit{{creditsPlanned==1?"":"s"}} planned
    </div>
    <div class="credits if-not-selected">
        {{year.creditsEarned || '0'}} credit{{creditsPlanned==1?"":"s"}} earned
    </div>
  </div>
  <div class="slot-list">
    <slot-detail [slot]="slot" *ngFor="let slot of year.slots"></slot-detail>
  </div>
  <div class="footer">
    <button type="button">
      Ready To Submit
    </button>
  </div>
</div>