<div class="container">
  <div class="row header">
    <div class="col">
      <div class="row page-title-row">
        <h2 class="col col-md-auto page-title">
          High-School Diploma 2017
        </h2>
        <div class="col col-md-auto credit-indicator">
          <div class="credit-value">
            14
          </div>
          Credits Left!
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <x-progress></x-progress>
    </div>
  </div>

  <div class="row nav align-items-center">
    <div class="col-sm-auto">
      <div class="form-group row align-items-center">
        <label class="col-sm-auto col-form-label" for="requirements">Requirements</label>
        <div class="col-sm-auto col-form-select">
          <div class="select-with-icon">
            <select id="requirements" class="form-control">
              <option selected>Show All</option>
              <option>...</option>
            </select>
            <i class="fa fa-angle-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row form-group align-items-center">
        <label class="col-sm-auto col-form-label">Credits</label>
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="all" value="creditsShown.all">
            <label class="form-check-label" for="all">All</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="earned" value="creditsShown.earned">
            <label class="form-check-label" for="earned">Earned</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="planned" value="creditsShown.planned">
            <label class="form-check-label" for="planned">Planned</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="remaining" value="creditsShown.remaining">
            <label class="form-check-label" for="remaining">Remaining</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row year-row">
    <div class="col" *ngFor="let year of upcomingYears">
      <x-year-planner tabindex="0" (click)="selectYear(year)" [year]="year" [class.selected]="selectedYear == year"></x-year-planner>
    </div>
  </div>

</div>

<tooltip-container></tooltip-container>