@import "../../variables.scss";

$border-radius: 4px;
$caret-size: 10px;

:host {
    position: fixed;
    min-width: 150px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
    border-radius: $border-radius;
    transition: opacity .15s ease-in-out;

    .caret {
        position: absolute;
        width: 0;
        height: 0;

        &:after {
            content: '';
            z-index: 2;
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: solid $caret-size transparent;
        }
        &:before {
            content: "";
            z-index: 0;
            position: absolute;
            width: calc(#{$caret-size} * 2);
            height: calc(#{$caret-size} * 2);
            transform: rotate(45deg);
            background-color: rgba(0, 0, 0, 0.16);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
        }

        &.top {
            bottom: -10px;
            right: 35px;
            &:before {
                top: -24px;
            }
            &:after {
                top: -11px;
                border-top-color: white;
            }
        }
        &.bottom {
            top: -10px;
            right: 35px;
            &:before {
                top: 4px;
            }
            &:after {
                top: -9px;
                border-bottom-color: white;
            }
        }
    }

    .content {
        position: relative;
        border-radius: $border-radius;
        border: solid 1px #ddd;
        background-color: white;
        padding: 11px;
        padding-left: 18px;
        width: 100%;
        font-size: 0.8em;
        line-height: 1.2em;
        z-index: 2;

        a {
            color: $dark-blue;
        }
    }

    .margin {
        position: absolute;
        float: left;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        width: 9px;
        background-color: $red;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border: solid 1px rgba(0,0,0,0.02);
    }
}